<mat-card fxLayout="row"
          fxLayoutWrap
          fxLayoutAlign="space-around center">
    <app-movie-item [movie]="recommendation.movie"></app-movie-item>
    <div>
        <h4>Actors: {{recommendation.ActorsScore | number}}</h4>
        <h4>Genres: {{recommendation.GenresScore | number}}</h4>
        <h4>Title: {{recommendation.TitleScore | number}}</h4>
        <h4>Plot: {{recommendation.PlotScore | number}}</h4>
        <h4>Countries: {{recommendation.CountriesScore | number}}</h4>
        <h4>Directors: {{recommendation.DirectorsScore | number}}</h4>
        <h4>Productions: {{recommendation.ProductionsScore | number}}</h4>
        <h4>Writers: {{recommendation.WritersScore | number}}</h4>
        <h4>Weighted Total: {{recommendation.score | number}}</h4>
    </div>
</mat-card>