.movie-container {
  margin: 150px 0 20px 0;
  overflow: auto;
  max-width: 800px;
  @media(max-width: 1024px) {
    margin: 20px 0 20px 0;
  }
  @media(max-width: 768px) {
    max-width: 600px;
  }
}

.movie-thumb {
  margin-right: 20px;
  margin-bottom: 10px;
}

.movie-title {
  margin-bottom: 5px;
  margin-top: 0;
}

.movie-header {
  margin-bottom: 10px;
}

.movie-text {
  margin-bottom: 20px;
}

.movie-trailer {
  margin-top: 20px;
}

.movie-genre {
  padding: 3px 6px !important;
  margin: 2px !important;
  cursor: pointer !important;
}

.bg-poster {
  overflow: hidden;
  position: absolute;
  z-index: 0;
  width: 100%;
  @media(max-width: 1024px) {
    display: none;
  }
}

.bg-image {
  display: flex;
  width: calc(100% + 120px);
  filter: blur(30px);
  margin: -60px -60px 60px -60px;
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.movie-page-container {
  z-index: 100;
}

.movie-actor {
  padding: 3px 6px !important;
  margin: 2px !important;
  cursor: pointer !important;
}

.movie-director {
  padding: 3px 6px !important;
  margin: 2px !important;
  background: none !important;
}

.movie-writer {
  padding: 3px 6px !important;
  margin: 2px !important;
  background: none !important;
}

.movie-production {
  padding: 3px 6px !important;
  margin: 2px !important;
  background: none !important;
}

.movie-header {
  display: flex;
  margin-top: 15px;
}

.spinnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movie-image-container {
  position: relative;
}

.movie-rating {
  position: absolute;
  left: 0;
  top: 0;
  color: #FDE16D;
  border-radius: 0 0 3px 0;
  background-color: rgba(0,0,0,0.5);
  padding: 0 10px;
}