<div *ngIf="movie.Poster.length !== 0" class="bg-poster">
    <img [src]="movie.Poster" class="bg-image">
</div>
<div class="movie-page-container" fxLayout="row" fxLayoutAlign="center space-around">
  <mat-card *ngIf="movie; else noMovie" class="movie-container">
    <div class="movie-header" fxLayout="column">
      <div class="movie-header"
           fxLayout="row"
           fxLayout.xs="column"
           fxLayoutAlign="space-between center"
           fxLayoutAlign.xs="start">
        <h2 class="movie-title">{{_movie.Title}} ({{_movie.Year}})</h2>
        <app-collection-button [movie]="movie" class="collection-btn"
                               (add)="onAddToCollection()"
                               (remove)="onRemoveFromCollection()">
        </app-collection-button>
      </div>
      <div>
        <app-rate-movie [movie]="_movie" (liked)="onLike()" (disliked)="onDislike()"></app-rate-movie>
      </div>
    </div>

    <mat-card-content fxLayout="row"
         fxLayout.xs="column"
         fxLayoutAlign="start space-around"
         class="animated-grid">
    <div class="movie-image-container">
        <span class="movie-rating">★ {{_movie.imdbRating}}</span>
        <img [src]="movie.Poster" class="movie-thumb" [src-fallback]="'assets/images/no_poster.jpg'" fxFlexAlign="start">
    </div>


      <div fxLayout="column" fxLayoutAlign="start start">
        <p class="movie-text">{{movie.Plot}}</p>

        <div>
          <span><b>Genres: </b></span>
          <mat-chip-list>
            <mat-chip class="movie-genre" *ngFor="let genre of movie.Genres" (click)="navigateToGenre(genre)"
                      color="warn">{{genre}}</mat-chip>
          </mat-chip-list>
        </div>

        <div>
          <span><b>Actors: </b></span>
          <mat-chip-list>
            <mat-chip class="movie-actor" *ngFor="let actor of movie.Actors" (click)="navigateToActor(actor)">{{actor}}</mat-chip>
          </mat-chip-list>
        </div>

        <div>
          <span><b>Directors: </b></span>
          <mat-chip-list>
              <mat-chip class="movie-director" *ngFor="let director of movie.Directors">{{director}}</mat-chip>
          </mat-chip-list>
        </div>

          <div>
              <span><b>Writers: </b></span>
              <mat-chip-list>
                  <mat-chip class="movie-writer" *ngFor="let writer of movie.Writers">{{writer}}</mat-chip>
              </mat-chip-list>
          </div>

          <div>
              <span><b>Productions: </b></span>
              <mat-chip-list>
                  <mat-chip class="movie-production" *ngFor="let production of movie.Productions">{{production}}</mat-chip>
              </mat-chip-list>
          </div>

        <app-movie-trailer class="movie-trailer"
                [videoId]="trailer$ | async">
        </app-movie-trailer>
      </div>

    </mat-card-content>
    <div class="spinnerContainer">
        <mat-spinner *ngIf="similar.length === 0">
        </mat-spinner>
    </div>
    <div>
      <app-movie-item-list [movies]="similar"></app-movie-item-list>
    </div>

  </mat-card>


</div>
<ng-template #noMovie>
  <mat-card>
    <h2>No movie is selected</h2>
  </mat-card>
</ng-template>

