<mat-card>
  <form [formGroup]="form">
    <div fxLayout="row">
        <mat-form-field floatPlaceholder="auto" class="fill-space">
          <input matInput
                 placeholder="Search movies"
                 formControlName="movieName"
                 (keydown)="onSearch($event)">
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Sort by" [value]="sortValue" (selectionChange)="onSortChange($event)" class="sort-options">
              <mat-option *ngFor="let sort of sortBy" [value]="sort.value">
                  {{ sort.viewValue }}
              </mat-option>
          </mat-select>
        </mat-form-field>
    </div>
  </form>
</mat-card>
<app-movie-search-results [movieResults]="foundMovies$ | async" (scroll)="onScroll()" [listDomain]="listDomain">
</app-movie-search-results>








