<mat-card class="popup-info" *ngIf="data !== null">
    <mat-card-title>
        {{data.movie.Title}}
    </mat-card-title>
    <app-rate-movie [movie]="data.movie"></app-rate-movie>
    <mat-card-content>
        <p>{{data.movie.Plot}}</p>
        <div>
            <span><b>Genres: </b></span>
            <mat-chip-list>
                <mat-chip class="movie-genre" *ngFor="let genre of data.movie.Genres" (click)="navigateToGenre(genre)"
                          color="warn">{{genre}}</mat-chip>
            </mat-chip-list>
        </div>

        <div *ngIf="data.movie.Actors.length > 0">
            <span><b>Actors: </b></span>
            <mat-chip-list>
                <mat-chip class="movie-actor" *ngFor="let actor of data.movie.Actors" (click)="navigateToActor(actor)">{{actor}}</mat-chip>
            </mat-chip-list>
        </div>

        <div *ngIf="data.movie.Directors.length > 0">
            <span><b>Directors: </b></span>
            <mat-chip-list>
                <mat-chip class="movie-director" *ngFor="let director of data.movie.Directors">{{director}}</mat-chip>
            </mat-chip-list>
        </div>

        <div *ngIf="data.movie.Writers.length > 0">
            <span><b>Writers: </b></span>
            <mat-chip-list>
                <mat-chip class="movie-writer" *ngFor="let writer of data.movie.Writers">{{writer}}</mat-chip>
            </mat-chip-list>
        </div>

        <div *ngIf="data.movie.Productions.length > 0">
            <span><b>Productions: </b></span>
            <mat-chip-list>
                <mat-chip class="movie-production" *ngFor="let production of data.movie.Productions">{{production}}</mat-chip>
            </mat-chip-list>
        </div>
    </mat-card-content>
</mat-card>
