:host {
  transition: opacity 0.3s;
}

.popup-info {
  max-width: 300px;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.movie-genre {
  padding: 3px 6px !important;
  margin: 2px !important;
  cursor: pointer !important;
}

.movie-actor {
  padding: 3px 6px !important;
  margin: 2px !important;
  cursor: pointer !important;
}

.movie-director {
  padding: 3px 6px !important;
  margin: 2px !important;
  background: none !important;
}

.movie-writer {
  padding: 3px 6px !important;
  margin: 2px !important;
  background: none !important;
}

.movie-production {
  padding: 3px 6px !important;
  margin: 2px !important;
  background: none !important;
}