.movie-image-container {
  width: 240px;
  height: 310px;
  overflow: hidden;
  position: relative;
  display: flex;
  transition: all 0.3s ease;
  cursor: pointer;
  img {
    margin: auto;
    width: 240px;
    height: auto;
  }
}

.movie-item {
  width: 240px;
  margin: 10px 10px 10px 10px;
  padding: 0;
  padding-bottom: 10px;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 3px 3px 16px -2px rgba(0, 0, 0, .5);
  }
}

@media(max-width: 800px) {
  .movie-item {
    font-size: 1em !important;
    width: 180px;
  }
  .movie-image-container {
    width: 180px;
    height: 200px;
    img {
      width: 180px;
    }
  }
}

@media(max-width: 440px) {
  .movie-item {
    width: 240px;
  }
  .movie-image-container {
    width: 240px;
    height: 310px;
    img {
      width: 240px;
    }
  }
}

.movie-rating {
  position: absolute;
  left: 0;
  top: 0;
  color: #FDE16D;
  border-radius: 3px 0 3px 0;
  background-color: rgba(0,0,0,0.5);
  padding: 0 10px;
  z-index: 500;
}

.movie-item-header {
  padding-left: 70px;
  font-weight: 100;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  min-height: 50px;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(125,185,232,0) 100%);
  margin: 0;
}

.movie-item-footer {
  padding: 0 20px;
  padding-top: 10px;
}

.collection-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 100;
  text-align: center;
  opacity: 0.8;
  transition: all 0.3s ease;

  &:hover {
    opacity: 1;
  }
}

.movie-info {
  position: absolute;
  right: 0;
  top: 0;
  color: #FDE16D;
  border-radius: 0 3px 0 3px;
  background-color: rgba(0,0,0,0.5);
  padding: 0 10px;
  cursor: pointer;
  z-index: 100;

  &:hover {
    background-color: rgba(0,0,0,1);
  }
}

.info-panel {
  position: absolute;
  z-index: 250;
}