

<mat-card class="movie-item" #container>
    <app-movie-info-embedded *ngIf="showInfo"
                             [movie]="movie"
                             class="info-panel"
                             (mouseleave)="onInfoHide()"
                             [height]="curHeight">
    </app-movie-info-embedded>
  <div class="movie-image-container">
    <h4 class="movie-item-header">
      {{_movie.Title}} ({{_movie.Year}})
    </h4>
    <span class="movie-info" (mouseenter)="onInfoShow($event)" (touchstart)="onInfoShow($event)">
        <i class="fa fa-info-circle"></i>
    </span>
    <span class="movie-rating">★ {{_movie.imdbRating}}</span>
    <img [src]="_movie.Poster" [src-fallback]="'assets/images/no_poster.jpg'" (click)="navigateToMovie()"/>
    <app-collection-button [movie]="movie" class="collection-btn"
                           (add)="onAddToCollection()"
                           (remove)="onRemoveFromCollection()">
    </app-collection-button>
  </div>

  <mat-card-content class="movie-item-footer">
      <span *ngFor="let genre of _movie.Genres">{{genre}} </span>
  </mat-card-content>

</mat-card>