<mat-card class="bottom-container">
  <h2 *ngIf="noMovies$ | async">No movies found</h2>
  <h3 *ngIf="reachedBottom$ | async">No more movies!</h3>
  <mat-spinner *ngIf="loading$ | async" [diameter]="40" [strokeWidth]="5"></mat-spinner>
</mat-card>
