<mat-card *ngIf="isAuthenticated$ | async" class="noPadding">
    <button #dislikeBtn mat-icon-button [color]="reaction < 0 ? 'warn': ''" (click)="onDislike()">
        <i class="fa fa-thumbs-down"></i>
    </button>
    <span class="vert-line"></span>
    <button #likeBtn mat-icon-button [color]="reaction > 0 ? 'primary' : ''" (click)="onLike()">
        <i class="fa fa-thumbs-up"></i>
    </button>
    <span color="warn">{{error$ | async}}</span>
</mat-card>