<div fxLayout="row"
     fxLayoutWrap
     fxLayoutAlign="space-around center"
     class="animated-grid">
  <div *ngFor="let movie of movies; trackBy: trackMovies" class="animated-grid-item">
    <app-movie-item [movie]="movie"></app-movie-item>
  </div>
</div>
