<mat-card>
    <mat-card-header><h3>{{actorName}}</h3></mat-card-header>
</mat-card>
<app-movie-search-results [movieResults]="foundMovies$ | async" (scroll)="onScroll()" [listDomain]="listDomain">
</app-movie-search-results>
