.menu-button {
  cursor: pointer;
  margin-right: 10px;
  @media (min-width: 600px) {
    display: none;
  }
}

.horizontal-nav {
  padding-top: 0;
  padding-left: 10px;
  display: flex;

  @media (max-width: 600px) {
    display: none;
  }
}

.fill-space {
  flex: 1 1 auto;
}

.app-toolbar {
  position: fixed;
  z-index: 999;
}

.app-offset-top {
  position: relative;
  top: 60px;
}

.auth-buttons {
  button {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.fixed-position {
  position: fixed;
  top: 60px;
}

.user-name {
  cursor: pointer;
  &:hover {
    color: #505050 !important;
  }
}

.link-active {
  background: #ECECEC;
}
