<mat-toolbar class="app-toolbar">
    <mat-icon (click)="sidenav.opened?sidenav.close():sidenav.open()"
              class="menu-button">
        menu
    </mat-icon>
    <span>MyNextMovie</span>
    <mat-nav-list class="horizontal-nav">
        <a mat-list-item routerLink="/"
           routerLinkActive="link-active"
           [routerLinkActiveOptions]="{exact:true}">
            Home
        </a>
        <a mat-list-item
           routerLink="/reactions"
           routerLinkActive="link-active"
           [routerLinkActiveOptions]="{exact:true}" *ngIf="(profileData$ | async)">
            My Reactions
        </a>
        <a mat-list-item
           routerLink="/collection"
           routerLinkActive="link-active"
           [routerLinkActiveOptions]="{exact:true}" *ngIf="(profileData$ | async)">
            Collection
        </a>

        <a mat-list-item
           routerLink="/recommendations"
           routerLinkActive="link-active"
           (click)="sidenav.close()"
           [routerLinkActiveOptions]="{exact:true}" *ngIf="(profileData$ | async)">
            Recommendations
        </a>
    </mat-nav-list>
    <span class="fill-space"></span>
    <span *ngIf="(profileData$ | async) as profile; else loginBtn">
        <span class="user-name">
            {{profile.username.split(' ')[0]}}
        </span>
        <button mat-raised-button (click)="onLogout()">Logout</button>
    </span>
</mat-toolbar>

<ng-template #loginBtn>
    <span class="auth-buttons">
        <button mat-raised-button
                (click)="onRegister()">
            Register
        </button>
        <button mat-raised-button
                (click)="onLogin()">
            Login
        </button>
    </span>
</ng-template>

<mat-sidenav-container class="app-offset-top full-height">
    <mat-sidenav #sidenav [mode]="'over'" class="full-height fixed-position">
        <mat-nav-list>
            <a mat-list-item routerLink="/"
               routerLinkActive="link-active"
               (click)="sidenav.close()"
               [routerLinkActiveOptions]="{exact:true}">
                Home
            </a>
            <a mat-list-item
               routerLink="/reactions"
               routerLinkActive="link-active"
               (click)="sidenav.close()"
               [routerLinkActiveOptions]="{exact:true}" *ngIf="(profileData$ | async)">
                My Reactions
            </a>
            <a mat-list-item
               routerLink="/collection"
               routerLinkActive="link-active"
               (click)="sidenav.close()"
               [routerLinkActiveOptions]="{exact:true}" *ngIf="(profileData$ | async)">
                Collection
            </a>

            <a mat-list-item
               routerLink="/recommendations"
               routerLinkActive="link-active"
               (click)="sidenav.close()"
               [routerLinkActiveOptions]="{exact:true}" *ngIf="(profileData$ | async)">
                Recommendations
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <app-popup-movie-info [data]="popupData$ | async" (mouseleave)="onInfoLeave()" (mouseenter)="onInfoEnter()">
    </app-popup-movie-info>
    <router-outlet></router-outlet>
</mat-sidenav-container>


