<div *ngIf="movieResults">

  <div infiniteScroll
       [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="200" (scrolled)="onScroll()">
    <app-movie-item-list *ngIf="movieResults.length > 1" [movies]="movieResults"></app-movie-item-list>
  </div>

  <app-movie *ngIf="movieResults.length == 1" [movie]="movieResults[0]"></app-movie>
</div>
<app-bottom-loader [listDomain]="listDomain">
</app-bottom-loader>
