<app-reactions-counter></app-reactions-counter>

<mat-card class="spinnerContainer" *ngIf="isReady() && (recommendations$ | async).length === 0">
    <div class="spinnerColumn">
        <h3 class="spinnerHeader">Calculating recommendations</h3>
        <mat-spinner>
        </mat-spinner>
    </div>
</mat-card>

<app-recommended-movie-list [recommendations]="recommendations$ | async"></app-recommended-movie-list>