.spinnerContainer {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.spinnerHeader {
  margin-bottom: 40px;
}

.spinnerColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}