:host {
  transition: opacity 0.3s;
}

.small-title {
  font-size: 12pt;
  margin-bottom: 10px;
  cursor: pointer;
}

.popup-info {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  box-sizing: border-box;
  padding: 25px 10px;
}

.movie-genre {
  padding: 3px 6px !important;
  margin: 2px !important;
  cursor: pointer !important;
}

.movie-actor {
  padding: 3px 6px !important;
  margin: 2px !important;
  cursor: pointer !important;
}

.movie-director {
  padding: 3px 6px !important;
  margin: 2px !important;
  background: none !important;
}

.movie-writer {
  padding: 3px 6px !important;
  margin: 2px !important;
  background: none !important;
}

.movie-production {
  padding: 3px 6px !important;
  margin: 2px !important;
  background: none !important;
}