<mat-card class="popup-info" *ngIf="movie !== null">
    <mat-card-title class="small-title">
        <span (click)="navigateToMovie()">{{movie.Title}}</span>
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
    </mat-card-title>
    <app-rate-movie [movie]="movie"></app-rate-movie>
    <mat-card-content>
        <p>{{movie.Plot}}</p>
        <div>
            <span><b>Genres: </b></span>
            <mat-chip-list>
                <mat-chip class="movie-genre" *ngFor="let genre of movie.Genres" (click)="navigateToGenre(genre)"
                          color="warn">{{genre}}</mat-chip>
            </mat-chip-list>
        </div>

        <div *ngIf="movie.Actors.length > 0">
            <span><b>Actors: </b></span>
            <mat-chip-list>
                <mat-chip class="movie-actor" *ngFor="let actor of movie.Actors" (click)="navigateToActor(actor)">{{actor}}</mat-chip>
            </mat-chip-list>
        </div>

        <div *ngIf="movie.Directors.length > 0">
            <span><b>Directors: </b></span>
            <mat-chip-list>
                <mat-chip class="movie-director" *ngFor="let director of movie.Directors">{{director}}</mat-chip>
            </mat-chip-list>
        </div>

        <div *ngIf="movie.Writers.length > 0">
            <span><b>Writers: </b></span>
            <mat-chip-list>
                <mat-chip class="movie-writer" *ngFor="let writer of movie.Writers">{{writer}}</mat-chip>
            </mat-chip-list>
        </div>

        <div *ngIf="movie.Productions.length > 0">
            <span><b>Productions: </b></span>
            <mat-chip-list>
                <mat-chip class="movie-production" *ngFor="let production of movie.Productions">{{production}}</mat-chip>
            </mat-chip-list>
        </div>
    </mat-card-content>
</mat-card>