<div fxLayout="row"
     fxLayoutWrap
     fxLayoutAlign="space-around center"
     class="animated-grid">
    <div *ngFor="let recommendation of recommendations" class="movieRecItem">
        <app-recommended-movie [recommendation]="recommendation"></app-recommended-movie>
    </div>
</div>