
.pass-strength
{
  display: block;
  height: 10px;
  top: 5px;
}

mat-card
{
  padding: 0;
}

mat-card mat-card-content
{
  padding: 16px;
}

mat-input-container
{
  margin-bottom: 20px;
}

.full-width {
  width: 100%;
  div {
    width: 100%;
  }
}



