<h3 mat-dialog-title>Register</h3>
<form [formGroup]="form" autocomplete="off" novalidate>

  <div class="full-width">

    <div>
      <mat-input-container [dividerColor]="usernameError == ''?'primary':'warn'" class="full-width">
        <input matInput formControlName="username" #textAreaField placeholder="Username">
        <mat-hint *ngIf="usernameError" color="red" align="start">{{usernameError}}</mat-hint>
      </mat-input-container>
    </div>

    <div>
      <mat-input-container [dividerColor]="emailError == ''?'primary':'warn'" class="full-width">
        <input matInput formControlName="email" #textAreaField placeholder="Email">
        <mat-hint *ngIf="emailError" color="red" align="start">{{emailError}}</mat-hint>
      </mat-input-container>
    </div>

    <div>
      <mat-input-container [dividerColor]="passwordError == ''?'primary':'warn'" class="full-width">
        <input type="password"
               matInput
               formControlName="password"
               #textAreaField
               placeholder="Password"
               autocomplete="new-password">
        <mat-hint *ngIf="passwordError" color="red" align="start">{{passwordError}}</mat-hint>
      </mat-input-container>
    </div>

    <div>
      <button class="submit-btn full-width" (click)="onSubmit()" type="button" mat-raised-button color="primary">Submit</button>
    </div>
  </div>
</form>
