<app-reactions-counter></app-reactions-counter>

<mat-tab-group>
    <mat-tab label="Likes">
        <mat-card>
            <mat-card-header>Likes</mat-card-header>
            <mat-card-content>
                <app-movie-item-list [movies]="likes$ | async"></app-movie-item-list>
            </mat-card-content>
            <div *ngIf="(likes$ | async).length === 0 && (loading$ | async) === false">
                You haven't liked any movies yet
            </div>
        </mat-card>
    </mat-tab>
    <mat-tab label="Dislikes">
        <mat-card>
            <mat-card-header>Dislikes</mat-card-header>
            <mat-card-content>
                <app-movie-item-list [movies]="dislikes$ | async"></app-movie-item-list>
            </mat-card-content>
            <div *ngIf="(dislikes$ | async).length === 0 && (loading$ | async) === false">
                You haven't disliked any movies yet
            </div>
        </mat-card>
    </mat-tab>
</mat-tab-group>



