<h3 mat-dialog-title>Login</h3>

<form [formGroup]="form" autocomplete="off" novalidate>

  <div class="full-width">
    <div>
      <mat-input-container dividerColor="primary" class="full-width">
        <input matInput formControlName="email" #textAreaField placeholder="Email">
        <mat-hint *ngIf="emailError" color="warn" align="start">{{emailError}}</mat-hint>
      </mat-input-container>
    </div>

    <div>
      <mat-input-container dividerColor="primary" class="full-width">
        <input type="password" matInput formControlName="password" #textAreaField placeholder="Password">
        <mat-hint *ngIf="passwordError" color="warn" align="start">{{passwordError}}</mat-hint>
      </mat-input-container>
    </div>

    <div>
      <button class="full-width submit-btn" (click)="onSubmit()" type="button" mat-raised-button color="primary">Submit</button>
    </div>
  </div>
</form>
