<button mat-raised-button (click)="onClick()" *ngIf="isAuthenticated$ | async">
    <span *ngIf="(inCollection$ | async) as inside">Remove</span>
    <span *ngIf="!(inCollection$ | async)">Add</span>
</button>
